@import 'styles/base-module';

:local .module {

  .tab-bar {
    padding-top: 0.5rem;
    color: $color-black;
  }

  .tabs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .tab {
    width: rem(176px);
    padding: 0.5rem 0;

    font-size: 1.1em;
    text-align: center;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    @include media($medium-screen) {
      margin: 0 2rem;
    }

    &:hover {
      color: $color-primary;
    }

    &.active {
      color: $color-primary;
      border-top: 3px solid transparent;
      border-bottom: 3px solid $color-primary;
    }
  }
}
