.how-it-works-handler {

  padding: 2rem 0;

  h1 {
    width: 100%;
    font-size: 2em;
    text-align: center;
  }

  h2 {
    width: 100%;
    padding: 2rem 0;
    margin-bottom: 2rem;
    font-size: 1.8em;
    text-align: center;
    border-bottom: solid 1px $color-gray-medium;
  }

  h3 {
    font-size: 1.3em;
  }

  p {
    font-family: $base-font-family;
    line-height: 1.8em;
  }

  .pad-extra {
    padding: 0 1rem;

    @include media($medium-screen) {
      padding: 0 4rem;
    }
  }

  .dark-section {
    width: 100%;
    padding: 1rem;
    background-color: $color-blue-gray;
    color: $color-white;
    box-shadow: 0 10px 16px 1px rgba(0, 0, 0, 0.2);

    .container {
      display: block;
    }
  }

  .section-col-3 {
    @include span-columns(12);
    text-align: center;

    @include media($medium-screen) {
      @include span-columns(4);
    }
  }

  .buttons-section {
    .desc {
      margin-bottom: 0.5rem;
    }

    button {
      width: rem(200px);
      padding-left: 0;
      padding-right: 0;
      margin: 0.5rem 0;
    }
  }

  .info-row {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-gray-medium;
    margin-bottom: 3rem;
    padding-bottom: 3rem;


    @include media($medium-screen) {
      flex-direction: row;
      padding-left: 3rem;
      padding-right: 3rem;

      &:nth-child(even) .info-image {
        order: 1;
      }
    }

    &:last-child {
      border: 0;
      margin-bottom: 0;
    }
  }

  .info-image {
    flex: 1;
    padding: 0 4rem;
    margin-bottom: 1rem;

    @include media($medium-screen) {
      padding: 0;
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
  }

  .info-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    text-align: justify;

    @include media($medium-screen) {
      margin: 0 2rem;
      text-align: left;
    }
  }

  .what-is {
    margin-bottom: 2rem;
    padding: 0 1rem;

    @include media($medium-screen) {
      margin-top: 1rem;
      padding: 0 8rem;
    }

    p {
      font-size: 1.1em;
      text-align: justify;
      line-height: 1.5em;

      @include media($medium-screen) {
        text-align: center;
      }
    }
  }

  .logo {
    width: rem(128px);
    height: rem(128px);
  }

  .nelp-section,
  .find-nelp-section {
    padding-top: 2rem;
  }

  .find-nelp-get-started {
    .container {
      display: flex;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    h2 {
      border: 0;
      padding: 0;
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 1.5em;
      font-weight: normal;
    }

    button {
      border: 0;
      padding: 1rem 3rem;
      border-radius: 8px;
    }
  }
}
