@import 'styles/base-module';

:local .module {
  .skills {
    display: flex;
    flex-wrap: wrap;
  }

  .skill {
    flex: 0 0 100%;

    @include media($medium-screen) {
      flex: 0 0 50%;
    }
  }

  .icon {
    background-image: url('images/icons/skills.png');
  }
}
