#profile-handler {

  $action-icon-size: 18px;

  .header {
    background-color: $color-blue-gray;
    color: $text-light;

    .container {
      @include display(flex);
      @include flex-direction(column);
      @include align-items(center);

      @include media($medium-screen) {
        @include flex-direction(row);
        @include align-items(flex-start);
      }
    }

    .info-container {
      @include display(flex);
      @include flex-direction(column);
      @include align-items(center);
      @include flex(1);

      > * {
        margin-bottom: 1rem;
      }

      @include media($medium-screen) {
        @include align-items(flex-start);
      }
    }

    .user-name {
      font-size: 1.75rem;
    }

    .picture-picker {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      margin-bottom: 1rem;

      @include media($medium-screen) {
        margin-right: 2rem;
      }

      .picture {
        height: 180px;
        border-radius: 50%;
        width: 180px;

        border: solid 4px $color-white;
        background-size: cover;
        background-position: center;
      }

      input {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 300px;
        padding: 0;
        margin: 0;
        opacity: 0;
        font-size: 1000px !important;
        cursor: pointer;
      }
    }

    .rating {

    }

    .tasks-summary {

    }
  }

  .section-row {
    width: 100%;
    margin-bottom: 2rem;

    .section-title {
      @include span-columns(12);
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      font-size: 1.5em;

      @include media($large-screen) {
        @include span-columns(3);
        text-align: right;
      }
    }

    .content {
      @include span-columns(12);
      padding-left: 1rem;

      @include media($large-screen) {
        @include span-columns(7);
      }

      .editable-row {
        @include display(flex);
        @include align-items(center);
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
        border-radius: 3px;

        &:hover {
          background-color: $color-white;

          .action {
            opacity: 1;
          }
        }

        .dot {

        }

        .checkmark {

        }

        .title {
          @include flex(1);
        }

        button.action {
          width: $action-icon-size + 16px;
          height: $action-icon-size + 16px;
          margin-right: 0.3rem;
          padding: 0;
          @include transition(opacity 250ms linear);
          background-color: transparent;
          background-position: center;
          background-size: $action-icon-size;
          background-repeat: no-repeat;
          border: none;
          border-radius: 50%;

          @include media($medium-screen) {
            opacity: 0;
          }

          &:hover {
            background-color: $color-nelp-orange;
          }

          &.edit {
            background-image: url('~images/icons/edit.png');
          }

          &.delete {
            background-image: url('~images/icons/delete.png');
          }
        }
      }

      .about {
        @include display(flex);
        @include align-items(center);

        .text {
          @include flex(1);
        }
      }

      .skills {
        @include display(flex);
        @include flex-wrap(wrap);

        .skill {
          @include flex(0 0 100%);

          @include media($medium-screen) {
            @include flex(0 0 50%);
          }
        }
      }

      .edit-box {
        padding: 1rem;

        border-radius: 3px;
        background-color: $color-white;
      }
    }
  }
}
