#profile-handler {

  .header {
    background-color: $color-blue-gray;
    color: $text-light;

    .container {
      @include display(flex);
      @include flex-direction(column);
      @include align-items(center);

      @include media($medium-screen) {
        @include flex-direction(row);
        @include align-items(flex-start);
      }
    }

    .info-container {
      @include display(flex);
      @include flex-direction(column);
      @include align-items(center);
      @include flex(1);

      > * {
        margin-bottom: 1rem;
      }

      @include media($medium-screen) {
        @include align-items(flex-start);
      }
    }

    .user-name {
      font-size: 1.75rem;
    }

    .user-picture {
      height: 180px;
      border-radius: 50%;
      width: 180px;
      margin-bottom: 1rem;
      border: solid 4px $color-white;
      background-size: cover;
      background-position: center;

      @include media($medium-screen) {
        margin-right: 2rem;
      }
    }

    .rating {

    }

    .tasks-summary {

    }
  }

  .tabs {
    height: 64px;
    background-color: $color-white;
    color: $color-black;
    border-bottom: solid 1px $color-gray-medium;
    font-size: 18px;

    .container {
      height: 100%;
      @include display(flex);
      @include flex-direction(row);
      @include align-items(center);
    }

    .tab {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      @include flex(1);

      &.active {
        color: $color-nelp-orange;
      }
    }
  }

  .content {

  }
}
