#page-profile {

  .header {
    background-color: $color-nelp-orange-light;
    color: $color-white;

    .page-container {
      display: flex;
      align-items: flex-start;
      padding-top: 2em;
      padding-bottom: 2em;
    }

    .info-container {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .user-name {
      font-size: 28px;
    }

    .user-picture {
      height: 180px;
      border-radius: 50%;
      width: 180px;
      border: solid 4px $color-white;
      margin-right: 32px;
      background-size: cover;
      background-position: center;
    }

    .rating {

    }

    .tasks-summary {

    }
  }

  .tabs {
    height: 64px;
    background-color: $color-nelp-orange;
    color: $color-white;
    font-size: 18px;

    .page-container {
      height: 100%;
      display: flex;
    }

    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      &.active {
        color: $color-nelp-orange-light;
      }
    }
  }

  .content {

  }
}
