{
  "passPerPreset": true,
  "presets": [
    {
      "plugins": [
        "./scripts/babelRelayPlugin"
      ]
    },
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
}
