#find-nelp-add-handler {

  $step-size: 46px;
  $category-image-size: 56px;

  padding: 1rem 4rem;

  form {
    width: 100%;
  }

  .input-row {
    @include display(flex);
    width: 100%;
    margin-bottom: 1rem;

    .step {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      width: rem($step-size);
      height: rem($step-size);
      margin-right: 1rem;
      margin-top: 0.25rem;
      border-radius: 50%;
      border: 2px solid $color-black;
      font-size: 1.3em;
    }

    .input-content {
      @include flex(1);
    }
  }

  .category-picker {
    width: 100%;
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-around);

    .category {
      @include display(flex);
      @include flex-basis(8rem);
      @include flex-direction(column);
      @include align-items(center);
      @include flex-grow(1);

      margin: 0.5rem;
      padding: 1rem;
      cursor: pointer;

      @include media($medium-screen) {
        @include flex-grow(0);
      }

      .icon {
        @include image(rem($category-image-size), rem($category-image-size));
        margin-bottom: 0.2em;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid transparent;

        .overlay {
          @include position(absolute, 0);
          border-radius: 50%;
          background-color: $color-black;
          @include transition(opacity 250ms linear);
          opacity: 0;
        }
      }

      &:hover .icon .overlay {
        opacity: 0.2;
      }

      .title {
        font-size: 1em;
      }
    }
  }

  .location {
    @include display(flex);
    @include align-items(center);
  }
}
