#find-nelp-handler {
  .header-section {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    padding: 4rem 0;
    background-color: $color-blue-gray;

    .add-task {
      background-color: $color-blue-gray;
      border: 2px solid $color-gray-light;
      border-radius: 8px;
      padding: 1rem 4rem;
      font-size: 1.5em;
      @include transition(background-color 250ms linear, color 250ms linear);

      &:hover {
        background-color: $color-gray-light;
        color: $color-blue-gray;
      }
    }
  }

  .title-section {
    background-color: $color-white;
    border-bottom: solid 1px $color-gray-medium;
    color: $color-black;

    .title {
      font-size: 1.3em;
    }
  }

  .tasks {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }
}
