#find-nelp-handler {
  .header-section {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);

    background-color: $color-blue-gray;

    .add-task {
      @include display(flex);
      @include flex-direction(column);
      @include align-items(center);

      cursor: pointer;

      .add-image {
        width: em(182px);
        height: em(182px);
      }

      .add-title {
        color: $text-light;
      }
    }
  }

  .title-section {
    background-color: $color-white;
    border-bottom: solid 1px $color-gray-medium;
    color: $color-black;

    .title {
      font-size: 1.3em;
    }
  }

  .tasks {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }
}
