#find-nelp-add-handler {

  $step-size: 46px;
  $category-image-size: 64px;

  @include media($large-screen) {
    padding: 1rem 8rem;
  }

  form {
    width: 100%;
  }

  label {
    font-size: 1.2em;
    font-weight: normal;
  }

  input, select {
    margin: 0;
  }

  .input-row {
    @include display(flex);
    width: 100%;
    margin-bottom: 2rem;

    .step {
      display: none;
      @include align-items(center);
      @include justify-content(center);
      width: rem($step-size);
      height: rem($step-size);
      margin-right: 1rem;
      margin-top: 0.25rem;
      border-radius: 50%;
      border: 2px solid $color-black;
      font-size: 1.3em;

      @include media($medium-screen) {
        @include display(flex);
      }
    }

    .input-content {
      @include flex(1);
      position: relative;
    }
  }

  .category-input {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    position: absolute;
    bottom: 25px;
    left: 10px;
    opacity: 0;
  }

  .category-picker {
    width: 100%;
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-around);

    .category {
      @include display(flex);
      @include flex-basis(8rem);
      @include flex-direction(column);
      @include align-items(center);
      @include flex-grow(1);
      margin: 0.5rem;
      cursor: pointer;

      @include transition(all 250ms linear);
      opacity: 0.7;
      @include filter(grayscale(20%));

      @include media($medium-screen) {
        @include flex-grow(0);
        padding: 1rem;
      }

      .icon {
        @include image(rem($category-image-size), rem($category-image-size));
        margin-bottom: 0.2em;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid transparent;
      }

      &:hover {
        @include filter(grayscale(0%));
        opacity: 1;
      }

      .title {
        font-size: 1em;
      }

      &.active {
        @include filter(grayscale(0%));
        opacity: 1;
      }
    }
  }

  .price {
    @include display(flex);
    @include align-items(center);
    position: relative;

    .currency {
      position: absolute;
      top: rem(3px);
      left: rem(12px);
      font-size: 1.5em;
      margin-right: 0.5rem;
    }

    input {
      padding-left: rem(25px);
    }
  }

  .location {
    @include display(flex);
    @include align-items(center);

    select {
      min-width: rem(200px);
      margin-right: 0.5rem;
    }
  }

  .pictures {
    .add-picture {
      position: relative;
      overflow: hidden;
      cursor: pointer;

      width: rem(100px);
      height: rem(100px);

      .icon {
        @include image(100px, 100px);
        background-image: url('~images/plus-512-white.png');
        background-color: $color-gray-medium;
        border-radius: 3px;
        cursor: pointer;
        z-index: 999;
      }

      input {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 300px;
        padding: 0;
        margin: 0;
        opacity: 0;
        font-size: 1000px !important;
        cursor: pointer;
      }
    }
  }
}
