#login-handler {

  button {

    &.login {
      background: none;
      color: $color-black;
      border: none;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      font-size: 1.5em;
      font-weight: lighter;

      &:hover,
      &:focus {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &.facebook {
      $facebook-blue: #3b5998;
      background-color: $facebook-blue;
      background-image: url('~images/facebook-white.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0.5rem bottom;

      &:hover,
      &:focus {
        background-color: darken($facebook-blue, 10%);
      }
    }

    &.register {
      background-color: $color-nelp-orange-light;

      &:hover,
      &:focus {
        background-color: darken($color-nelp-orange-light, 10%);
      }
    }
  }

  .forgot {
    text-align: center;
    color: $color-black;
    text-decoration: underline;

    &:hover {
      color: $color-gray-dark;
    }
  }
}
