.login-common {
  $controls-border-width: 1.5px;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;

  background-color: $color-primary;

  .content {
    display: flex;
    flex-direction: column;
    width: 90%;

    @include media($medium-screen) {
      width: 300px;
    }

    .title {
      font-size: 2.5em;
      color: $text-light;
      text-align: center;
    }

    .nelpy {
      padding: 1em;
      height: em(250px);
      align-self: center;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    input {
      border: $color-black solid $controls-border-width;
      margin-bottom: 0.5em;
    }

    button {
      border: $color-black solid $controls-border-width;
      margin-bottom: 0.5em;
    }
  }
}
