.post-task-categories-handler {

  @include media($large-screen) {
    padding: 1rem 8rem;
  }

  .title {
    margin-top: 1rem;
    text-align: center;
    align-self: stretch;
  }

  .category-picker {
    @include outer-container;
    width: 100%;
  }

  .category {
    @include span-columns(12);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: flex-gutter(12);

    cursor: pointer;
    transition: all 250ms linear;
    border-radius: 3px;

    @include media($medium-screen) {
      @include span-columns(6);
      @include omega(2n);
      display: flex;
    }

    &:hover {
      background-color: $color-white;
    }
  }

  .category-icon {
    @include image(4rem);
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid transparent;

    @include media($medium-screen) {
      @include image(5rem);
    }
  }

  .category-title {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.25rem;

    @include media($medium-screen) {
      font-size: 1.2em;
    }
  }

  .category-examples {
    text-align: center;
    font-size: 0.9em;
  }
}
