.post-task-form-handler {

  $step-size: 46px;

  form {
    width: 100%;
  }

  label {
    font-size: 1.2em;
    font-weight: normal;
  }

  input,
  select {
    margin: 0;
  }

  .input-row {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
  }

  .input-content {
    flex: 1;
    position: relative;
  }

  .validation-icon {
    @include image(2rem);
    margin-top: 2.25rem;
    margin-left: 1rem;

    &.valid {
      background-image: url('~images/icons/accepted.png');
    }

    &.invalid {
      background-image: url('~images/icons/denied.png');
    }
  }

  .category-header-panel {
    height: 9rem;
    position: relative;
    overflow: hidden;
  }

  .category-overlay {
    @include position(absolute, -2rem);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(16px);
  }

  .category-content {
    @include position(absolute, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .category-icon {
    @include image(4rem);
    align-self: center;
    border-radius: 50%;
  }

  .price {
    display: flex;
    align-items: center;
    position: relative;

    .currency {
      position: absolute;
      top: rem(6px);
      left: rem(12px);
      font-size: 1.1em;
      margin-right: 0.5rem;
    }

    input {
      padding-left: rem(25px);
    }
  }

  .other-row {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .other-icon {
    @include image(5rem);
    border-radius: 50%;
    background-image: url('~images/categories/other.png');
  }

  .location {
    display: flex;
    align-items: center;

    select {
      min-width: rem(200px);
      height: 2.5em;
      margin-right: 0.5rem;
    }
  }

  .address {
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: $text-medium;
  }

  .pictures {
    display: flex;
    flex-wrap: wrap;

    .add-picture {
      position: relative;
      overflow: hidden;
      cursor: pointer;

      margin: 0.5em;
      border-radius: 3px;
      background-color: $color-background-light;

      .icon {
        @include image(3rem, 3rem);
        margin: 1rem;
        background-image: url('~images/icons/plus.png');
        border-radius: 3px;
        cursor: pointer;
      }

      input {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
        font-size: 100px;
        cursor: pointer;
      }

      ::-webkit-file-upload-button {
        cursor: pointer;
      }
    }

    .picture {
      @include image-fill;
      position: relative;
      width: 5rem;
      height: 5rem;
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: $color-background-light;

      .picture-name {
        @include ellipsis;
        font-size: 0.8em;
        color: $text-light;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.2rem 0.5rem;
        background-color: transparentize($color-black, 0.5);
      }
    }
  }

  .post-btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .post-btn {
    padding: 0.5rem 3rem;
  }
}
