.nelp-handler {

  height: 100%;

  .header-section {
    height: 40%;
    border-left: $base-border;
    border-right: $base-border;

    @include media($max-width-screen) {
      border-left: 0;
      border-right: 0;
    }

    .map {
      width: 100%;
      height: 100%;
      //padding: 0.5rem;
    }
  }

  .filters {
    background-color: $color-white;
    border: $base-border;
    color: $color-black;
    margin-bottom: 1rem;

    @include media($max-width-screen) {
      border-left: 0;
      border-right: 0;
    }
  }
}
