@import '~styles/base-module';

:local .module {

  $color-price-green: $color-money;
  $user-image-size: 86px;
  $user-image-size-sm: 70px;
  $category-image-size: 38px;
  $category-image-size-sm: 30px;
  $collapse-image-size: 26px;
  $list-items-padding: 0.5rem;

  width: 100%;
  padding: 0 0.5rem;

  @include media($medium-screen) {
    padding: 0 1rem;
  }

  %task {
    width: 100%;

    padding: $list-items-padding 0;

    &:not(:last-child) {
      border-bottom: $base-border;
    }
  }

  .task {
    @extend %task;
  }

  .task-collapsed {
    @extend %task;

    .detail {
      max-height: 0;
    }

    .collapse-icon {
      transform: rotate(0deg);
    }
  }

  .header {
    display: flex;
    cursor: pointer;
  }

  .content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;

    > div {
      margin: 0.5rem;

      @include media($medium-screen) {
        margin: 0.5rem 1rem;
      }
    }
  }

  .infos {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .user-col {
    flex: 1;
  }

  .user-picture {
    width: rem($user-image-size-sm);
    height: rem($user-image-size-sm);
    position: relative;
    flex-shrink: 1;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: $base-border;

    @include media($medium-screen) {
      width: rem($user-image-size);
      height: rem($user-image-size);
    }

    .category-icon {
      @include image(rem($category-image-size-sm));
      position: absolute;
      bottom: rem(-5px);
      right: rem(-5px);

      border-radius: 50%;
      background-color: $color-background;

      @include media($medium-screen) {
        @include image(rem($category-image-size));
      }
    }
  }

  .title-col {
    flex: 1;
  }

  .title {
    @include ellipsis();
    font-weight: bold;
    font-size: 1em;

    @include media($medium-screen) {
      font-size: 1.2em;
    }
  }

  .user-name {
    font-size: 1em;

    @include media($medium-screen) {
      margin-left: 2rem;
    }
  }

  .date {
    font-size: 0.8em;

    @include media($medium-screen) {
      margin-left: 2rem;
    }
  }

  .price {
    @include price-tag();
  }

  .location-col {
    display: none;
    margin-right: 2rem;

    @include media($medium-screen) {
      display: block;
    }
  }

  .city {
    text-align: right;
  }

  .distance {
    text-align: right;
    font-size: 0.8em;
  }

  .detail {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
    max-height: 500px;
    margin-left: 1rem;
    margin-right: 1rem;

    @include media($medium-screen) {
      flex-direction: row;
      margin-left: rem(132px);
      margin-right: rem(58px);
    }
  }

  .desc-col {
    flex: 1;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .user-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .desc {
    font-family: $content-font-family;
    white-space: pre-line;
    margin-bottom: 1rem;

    @include media($medium-screen) {
      margin-left: 2rem;
    }
  }

  .controls {
    @include media($medium-screen) {
      margin-left: 2rem;
    }
  }

  .task-pictures {
    width: 100%;
    margin-bottom: 1rem;

    @include media($medium-screen) {
      width: rem(250px);
    }
  }

  .collapse-icon {
    display: none;
    align-self: center;
    width: rem($collapse-image-size);
    height: rem($collapse-image-size);

    background-image: url('images/icons/expand.png');
    background-size: contain;
    background-position: center;

    transition: transform 250ms ease-in-out;
    transform: rotate(180deg);

    @include media($medium-screen) {
      display: block;
      margin: 0 1rem;
    }
  }

  .no-task {
    padding: 2rem;
    text-align: center;
  }
}
