@import '~styles/base-module';

:local {

  .page {
    height: 100%;
  }

  .header {
    height: 40%;
    border-left: $base-border;
    border-right: $base-border;

    @include media($max-width-screen) {
      border-left: 0;
      border-right: 0;
    }
  }

  .map {
    width: 100%;
    height: 100%;
  }

  .filters {
    background-color: $color-background-light;
    border: $base-border;
    color: $color-black;
    margin-bottom: 1rem;

    @include media($max-width-screen) {
      border-left: 0;
      border-right: 0;
    }
  }

  .sort-container {
    display: flex;
    justify-content: center;
    padding: 0.75rem;
    border-bottom: $base-border;
  }

  .sort button {
    width: rem(150px);

    .lang-fr & {
      width: rem(175px);
    }
  }
}
