@import '~styles/base-module';

:local .module {

  height: 100%;

  .header {
    height: 35vh;
    border-left: $base-border;
    border-right: $base-border;

    @include media($max-width-screen) {
      border-left: 0;
      border-right: 0;
    }
  }

  .map {
    width: 100%;
    height: 100%;
  }

  .filters {
    background-color: $color-background-light;
    border: $base-border;
    color: $color-black;
    margin-bottom: 1rem;

    @include media($max-width-screen) {
      border-left: 0;
      border-right: 0;
    }
  }

  .sort-container {
    display: flex;
    padding: 0.75rem;
    border-bottom: $base-border;

    @include media($medium-screen) {
      justify-content: center;
    }
  }

  .sort {
    display: flex;
    flex: 1;

    @include media($medium-screen) {
      display: block;
      flex: initial;
    }

    button {
      flex-grow: 1;
      font-size: 0.8em;

      @include media($medium-screen) {
        flex-grow: 0;
        font-size: 1em;
        width: rem(150px);
      }
    }
  }
}
