@font-face {
  font-family: Proxima Nova;
  src: url('~styles/fonts/ProximaNova-Regular.otf');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: Proxima Nova;
  src: url('~styles/fonts/ProximaNova-Bold.otf');
  font-weight: bold;
  font-size: normal;
}
