$container-padding-hor: 0.5rem;
$padding-container-vert: 1rem;

html,
body,
.main-app {
  height: 100%;
  margin: 0;
}

body {
  background-color: $base-background-color;
  overflow-x: hidden;
  overflow-y: scroll;
  // not sure about that
  //@include user-select(none);
  -webkit-tap-highlight: rgba(0, 0, 0, 0);
}

.main-app-content {
  height: 100%;

  &.has-navbar {
    padding-top: $navbar-height;
  }
}

// Anchor that offsets for fixed header for for html # links
.anchor {
  display: block;
  position: relative;
  top: -$navbar-height;
  visibility: hidden;
}

.container {
  @include outer-container;

  &.center {
    align-items: center;
  }
}

&.pad-all {
  padding: $padding-container-vert $container-padding-hor;
}

&.pad-hor {
  padding-left: $container-padding-hor;
  padding-right: $container-padding-hor;
}

.section-separator {
  height: 0.5rem;
  background-color: $color-blue-gray;
}

// Google maps autocomplete container
.pac-container {
  z-index: 9999999;
}
