$container-padding: 1rem;

html, body, #app {
  height: 100%;
  margin: 0;
}

body {
  background-color: $base-background-color;

  // not sure about that
  //@include user-select(none);
  -webkit-tap-highlight: rgba(0, 0, 0, 0);
}

#app-content {
  height: 100%;

  &.has-navbar {
    padding-top: $navbar-height;
  }
}

.container {
  @include outer-container;
  @include display(flex);
  @include flex-direction(column);
  @include align-items(flex-start);

  &.pad-all {
    padding: $container-padding;
  }

  &.pad-hor {
    padding-left: $container-padding;
    padding-right: $container-padding;
  }

  &.center {
    @include align-items(center);
  }
}
