$padding-container-hor: 0.5rem;
$padding-container-vert: 1rem;

html,
body,
.main-app {
  height: 100%;
  margin: 0;
}

body {
  background-color: $base-background-color;
  overflow-x: hidden;
  overflow-y: scroll;
  // not sure about that
  //@include user-select(none);
  -webkit-tap-highlight: rgba(0, 0, 0, 0);
}

.main-app-content {
  height: 100%;

  &.has-navbar {
    padding-top: $navbar-height;
  }
}

// Anchor that offsets for fixed header for for html # links
.anchor {
  display: block;
  position: relative;
  top: -$navbar-height - 16px;
  visibility: hidden;
}

.container {
  @include outer-container;

  &.center {
    align-items: center;
  }
}

&.pad-all {
  padding: $padding-container-vert $padding-container-hor;
}

&.pad-hor {
  padding-left: $padding-container-hor;
  padding-right: $padding-container-hor;
}

&.pad-vert {
  padding-top: $padding-container-vert;
  padding-bottom: $padding-container-vert;
}

.section-separator {
  height: 0.5rem;
  background-color: $color-primary;
}

// Google maps autocomplete container
.pac-container {
  z-index: 9999999;
}

.panel {
  background-color: $color-background-light;
  border: $base-border;
  margin-bottom: 1.5rem;

  @include media($max-width-screen) {
    border-left: 0;
    border-right: 0;
  }
}

.panel-title {
  display: flex;
  align-items: center;
  border-bottom: $base-border;
  padding: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;

  @include media($medium-screen) {
    padding: 1rem 2rem;
  }

  h2 {
    flex: 1;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  button {
    padding: 0.25rem;
    font-size: 0.9em;
    font-weight: bold;
  }
}

.add-location-title {
  flex: 1;
}

.panel-content {
  padding: 1rem;

  @include media($medium-screen) {
    padding: 1rem 2rem;
  }
}

.pad-all {
  padding: 1rem;
}

.pad-hor-sm {
  @include media($max-width-screen) {
    padding: 0 0.5rem;
  }
}

.header-panel {
  background-color: $color-background-light;
  border: $base-border;
  border-top: 0;
  margin-bottom: 1.5rem;

  @include media($max-width-screen) {
    border-left: 0;
    border-right: 0;
  }
}
