@mixin image($width, $height) {
  width: $width;
  height: $height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: $width $height;
}

@mixin image-fill {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
