
@mixin image($width: null, $height: null) {
  @if $width != null and $height != null {
    width: $width;
    height: $height;
  } @elseif $width != null {
    width: $width;
    height: $width;
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin image-fill {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin price-tag() {
  width: 80px;
  text-align: center;
  padding: 4px;
  font-size: 1.2em;
  color: $color-background-light;
  background: $color-primary;
  border-radius: 3px;
}
