$color-nelp-green: #44b762;
$color-nelp-blue: #4e72b7;
$color-nelp-orange: #d95330;

$color-gray-darker: #212121;
$color-gray-dark: #424242;
$color-gray-medium: #9E9E9E;
$color-gray-light: #E0E0E0;
$color-gray-lighter: #F5F5F5;

$color-text: $color-gray-darker;
