@import "./_variables.scss";

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  color: $color-text;
  background-color: $color-white-light;
}

h1, h2 {
  color: $color-nelp-blue;
}

p {

}
