@import 'styles/base-module';

:local .module {

  /**
   * First panel: Application Summary.
   */

  .application-summary {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    @include media($medium-screen) {
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 6rem;
    }
  }

  .summary-item {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    @include media($medium-screen) {
      align-items: center;
      margin-bottom: 0;
    }
  }

  .summary-item-title {
    margin-bottom: 0.75rem;
    color: $color-gray-medium;
    font-size: 1.1em;
  }

  .summary-item-status {
    display: flex;
    align-items: center;
  }

  .summary-item-status-icon {
    @include image(2rem);
    margin-right: 1rem;
    background-image: url('images/icons/state-pending.png');
  }

  .summary-item-price {
    @include price-tag();
    margin-top: rem(-5px);
    transform: scale(0.9);
  }

  .summary-item-applied {
    display: flex;
    align-items: center;
  }

  .summary-item-applied-icon {
    @include image(2rem);
    margin-right: 1rem;
    background-image: url('images/icons/calendar.png');
  }

  /**
   * Task progress (accepted only)
   */

  .task-progress {
    padding: 0.5rem;
  }

  .task-progress-btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .task-progress-completed-btn {
    font-size: 1.1em;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .task-progress-help {
    fill: $color-gray-medium;

    &:hover {
      fill: $color-background-light;
    }

    .icon-button-component-icon {
      @include position(absolute, 0.5rem);
    }
  }

  /**
   * Info about the Task Poster.
   */

  .task-poster-section {
    padding: 1rem;

    @include media($medium-screen) {
      padding: 1rem 6rem;
    }
  }

  .task-poster-profile-row {
    display: flex;
    flex-direction: column;

    @include media($medium-screen) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .task-poster-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;

    @include media($medium-screen) {
      margin-bottom: 0;
    }

    &:hover {
      .task-poster-picture-overlay {
        opacity: 1;
      }
    }
  }

  .task-poster-picture {
    @include image-fill();
    width: 6rem;
    height: 6rem;
    flex-shrink: 0;
    margin-right: 1rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .task-poster-picture-overlay {
    @include position(absolute, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparentize($color-black, 0.25);
    border-radius: 50%;
    transition: opacity 250ms linear;
    opacity: 0;
  }

  .task-poster-picture-icon {
    @include image(2.5rem);
    background-image: url('images/icons/profile-white.png');
  }

  .task-poster-picture-text {
    font-size: 0.8em;
    color: $color-background-light;
  }

  .task-poster-name {
    font-size: 1.2em;
  }

  .task-poster-chat {
    display: flex;
    align-items: center;
  }

  .task-poster-chat-icon {
    @include image(2.5rem);
    margin-right: 1rem;
    background-image: url('images/icons/chat-red.png');
  }

  .task-poster-chat-btn {
    font-size: 1.1em;
  }

  .task-poster-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: $base-border;

    @include media($medium-screen) {
      flex-direction: row;
      margin-top: 3rem;
      padding: 3rem 0;
    }
  }

  .task-poster-contact-email {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    @include media($medium-screen) {
      margin-bottom: 0;
    }
  }

  .task-poster-contact-email-icon {
    @include image(2rem);
    background-image: url('images/icons/email.png');
    margin-right: 1rem;
  }

  .task-poster-contact-phone {
    display: flex;
    align-items: center;
  }

  .task-poster-contact-phone-icon {
    @include image(2rem);
    background-image: url('images/icons/phone.png');
    margin-right: 1rem;
  }



  /**
   * Task info section.
   */

  .task-info-section {
    padding: 1rem;
    padding-bottom: 0.15rem;
    margin-bottom: 0;
  }

  .task-info-title-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .task-info-category-icon {
    @include image(2.5rem);
    margin-right: 1rem;
    border-radius: 50%;
  }

  .task-info-title {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .task-info-other-row {
    @include outer-container();

    @include media($medium-screen) {
      margin-left: 3.5rem;
    }
  }

  %main-col {
    @include span-columns(12);
  }

  .main-col {
    @extend %main-col;
  }

  .main-col-has-pictures {
    @extend %main-col;

    @include media($medium-screen) {
      @include span-columns(8);
    }
  }

  .task-info-image-col {
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(4);
      @include omega();
    }
  }

  .task-info-desc {
    margin-bottom: 2.5rem;
    white-space: pre-line;
  }

  .task-info-calendar-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .task-info-calendar {
    display: flex;
    align-items: center;
  }

  .task-info-calendar-icon {
    @include image(2.5rem);
    background-image: url('images/icons/calendar.png');
    margin-right: 1rem;
  }

  .task-info-location {
    display: flex;
    align-items: center;
  }

  .task-info-location-icon {
    @include image(2.5rem);
    background-image: url('images/icons/pin.png');
    margin-right: 1rem;
  }

  .task-info-price-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .task-info-price-text {
    margin-right: 0.5rem;
    font-weight: bold;
    color: $color-gray-medium;
  }

  .task-info-price {
    @include price-tag();
    transform: scale(0.9);
  }

  .task-info-exact-location {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  .task-info-exact-location-icon {
    @include image(2.5rem);
    margin-right: 1rem;
    background-image: url('images/icons/pin.png');
  }

  .task-info-exact-location-text {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: $base-border;
    font-size: 0.9em;
    white-space: pre-line;
  }

  .map-message {
    font-size: 0.85em;
    color: $color-gray-medium;
  }

  .task-info-map {
    height: rem(300px);
    border-top: 0;
  }

  .cancel-button-container {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }
}
