.home-handler {

  $size-logo: 5rem;
  $size-section-2-icon: 6rem;

  h1 {
    font-size: 2em;
    font-weight: 300;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 300;
  }

  p {
    font-size: 1.2em;
    font-weight: 300;
  }

  .section-1 {
    color: $color-background-light;
    background-image: url('~images/home/header-background.png');
    background-position: center;
    background-size: cover;
  }

  .section-1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    text-align: center;

    @include media($medium-screen) {
      padding: 3rem 6rem;
    }
  }

  .section-1-logo {
    width: $size-logo;
    height: $size-logo;
    margin-bottom: 2rem;
  }

  .section-2 {
    background-color: $color-background-light;
  }

  .section-2-container {
    padding: 4rem 0;
  }

  .section-2-item {
    @include span-columns(12);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;

    @include media($medium-screen) {
      @include span-columns(4);
      display: flex;
      margin-bottom: 0;
    }
  }

  .section-2-title {
    margin-bottom: 0.5rem;
  }

  .section-2-icon {
    width: $size-section-2-icon;
    height: $size-section-2-icon;
    margin-bottom: 1rem;
  }

  .section-2-desc {
    font-size: 1em;
  }

  .section-3 {
    background-color: $color-primary;
    color: $color-background-light;
  }

  .section-3-container {
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media($medium-screen) {
      flex-direction: row;
      padding: 4rem 6rem;
    }
  }

  .section-3-col-1 {
    flex: 3;
    margin-bottom: 2rem;
    text-align: center;

    @include media($medium-screen) {
      margin-bottom: 0;
      text-align: left;
    }
  }

  .section-3-col-2 {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .section-3-btn {
    font-size: 1.2em;
    padding: 1rem 2rem;
  }

  .section-4 {
    background-image: url('~images/home/map-background.png');
    background-position: center;
    background-size: cover;
  }

  .section-4-container {
    padding: 8rem 1rem;
    text-align: center;

    @include media($medium-screen) {
      padding: 8rem 6rem;
      text-align: right;
    }
  }
}
