.card-component {

  $header-bg-color: #58595b;
  $content-bg-color: $color-white;
  $border-color: $color-black;

  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  background-color: $content-bg-color;
  //box-shadow: 0 1px 4px 0 transparentize($color-black, 0.63);
  border: $base-border;

  .card-hover {
    @include position(absolute, 0);
    background-color: $color-white;
    transition: opacity 250ms linear;
    opacity: 0;

    &:hover {
      opacity: 0.1;
    }
  }

  .card-image-header {
    height: rem(100px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $header-bg-color;
    position: relative;
  }

  .card-content {
    flex: 1;
    padding: 0.8rem;
  }
}
