.card-component {

  $header-bg-color: #58595b;
  $content-bg-color: $color-white;
  $border-color: $color-black;

  display: flex;
  flex-direction: column;
  flex-basis: 18rem;
  flex-grow: 1;
  height: em(300px);
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  background-color: $content-bg-color;
  border: 1px solid $border-color;
  border-radius: 3px;

  @include media($medium-screen) {
    margin: 1rem;
  }

  .card-hover {
    @include position(absolute, 0);
    background-color: $color-black;
    @include transition(opacity 250ms linear);
    opacity: 0;

    &:hover {
      opacity: 0.2;
    }
  }

  .card-image-header {
    height: em(125px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $header-bg-color;
    position: relative;
  }

  .card-content {
    flex: 1;
    padding: 0.8rem;
    border-top: 1px solid $border-color;
  }
}
