#dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: -9999px;
  width: 100%;
  height: 100%;


  @include transition(opacity 250ms linear);
  opacity: 0;
  background-color: transparentize($color-black, 0.4);

  &.opened {
    left: 0;
    opacity: 1;

    .content {
      transform: translateY(0px);
    }
  }

  &.closing {
    left: 0;

    .content {
      transform: translateY(100px);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    box-shadow: 0px 2px 16px 2px transparentize($color-black, 0.4);
    border-radius: 3px;
    min-height: em(200px);
    padding: 1em;
    max-width: $max-width;
    margin: 1rem;

    @include transition(transform 250ms ease-in-out);
    transform: translateY(100px);

    .dialog-text {
      flex: 1;
    }

    .dialog-buttons {
      align-self: flex-end;
    }
  }
}
