#dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: -9999px;
  width: 100%;
  height: 100%;


  transition: opacity 250ms linear;
  opacity: 0;
  background-color: transparentize($color-black, 0.4);

  &.opened {
    left: 0;
    opacity: 1;

    .content {
      transform: translateY(0);
    }
  }

  &.closing {
    left: 0;

    .content {
      transform: translateY(100px);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    background-color: $color-background-light;
    min-height: em(200px);
    max-height: 95%;
    padding: 1em;
    max-width: $max-width;
    margin: 1rem;
    border: $base-border;

    overflow-x: hidden;
    overflow-y: auto;

    transition: transform 250ms ease-in-out;
    transform: translateY(100px);

    @include media($medium-screen) {
      max-width: $max-width - 8em;

      &.fill {
        width: 100%;
      }
    }

    .dialog-content {
      flex: 1;
    }

    .dialog-buttons {
      align-self: flex-end;
    }
  }
}
