.editable-component {
  width: 100%;

  .editable {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;

    &:hover {
      background-color: $color-background-light;

      .editable-action {
        opacity: 1;
      }
    }
  }

  .editable-text {
    flex: 1;
  }

  .editable-action {
    position: relative;
    padding: 0.5rem;
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;

    @include media($medium-screen) {
      opacity: 0;
    }

    &:hover {
      .editable-icon {
        fill: $color-background-light;
      }

      .editable-icon-bg {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  .editable-icon {
    @include position(absolute, 0.5rem);
    @include transition(fill 300ms ease-in-out);
    width: rem(24px);
    height: rem(24px);
    fill: $color-gray-light;
  }

  .editable-icon-bg {
    @include position(absolute, 0);
    @include transition(transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55));
    transform: scale(0);
    opacity: 0;
    background-color: $color-primary;
    border-radius: 50%;
  }
}

.edit-box-component {
  padding: 1rem;
  border-radius: 3px;
  background-color: $color-background-light;
}
