.icon-button-component {
  position: relative;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  fill: $color-gray-light;
  transition: fill 300ms ease-in-out;

  &:hover {
    fill: $color-background-light;

    .icon-button-component-bg {
      transform: scale(1);
      opacity: 1;
    }
  }

  .icon-button-component-icon {
    @include position(absolute, 0.75rem);
  }

  .icon-button-component-bg {
    @include position(absolute, 0);
    @include transition(transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55));
    transform: scale(0);
    opacity: 0;
    background-color: $color-primary;
    border-radius: 50%;
  }
}
