.numeric-input-component {
  display: flex;
  border: solid 1px $color-primary;

  &.disabled {
    border: solid 1px $color-gray-medium;

    .plus-button,
    .minus-button {
      background-color: $color-gray-medium;
    }
  }

  .input-container {
    flex: 1;
  }

  input {
    @include appearance(textfield);
    height: 100%;
    margin: 0;
    border: 0;
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @include appearance(none);
  }

  .plus-button,
  .minus-button {
    @include user-select(none);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 2rem;
    cursor: pointer;
    background-color: $color-primary;
    color: $color-background-light;
    font-size: 1.5em;
  }
}
