.numeric-input-component {
  display: flex;
  border: solid 1px $color-blue-gray;

  input {
    flex: 1;
    margin: 0;
    border: 0;
    @include appearance(none);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      @include appearance(none);
  }

  .plus-button,
  .minus-button {
    @include user-select(none);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 4rem;
    cursor: pointer;
    background-color: $color-blue-gray;
    color: $color-white;
    font-size: 1.5em;
  }
}
