.progress {
  padding: 8px;
  background-color: $color-nelp-orange;
  border-radius: 50%;

  width: 70px;
  height: 70px;

  animation: rotate 1s linear infinite;

  .image {
    width: 56px;
    height: 56px;
    background-image: url('~images/logo-nobg-sm.png');
    background-size: contain;
    background-repeat: no-repeat;

  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
}

.progress-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
