.progress {
  padding: 8px;
  background-color: $color-nelp-orange;
  border-radius: 50%;

  width: 70px;
  height: 70px;

  @include animation(rotate 1.0s linear infinite);

  .image {
    width: 56px;
    height: 56px;
    background-image: url('~images/logo-nobg-sm.png');
    background-size: contain;
    background-repeat: no-repeat;

  }

  @include keyframes(rotate) {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
