@import 'styles/base-module';

:local .rating {
  display: flex;

  .rating-item {
    width: rem(22px);
    height: rem(22px);
    fill: rgba(255, 255, 255, 0.3);

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &.active {
      fill: rgba(255, 255, 255, 0.9);
    }
  }

  .number {
    font-size: 1.2em;
    line-height: rem(22px);
  }

  &.small {
    .rating-item {
      width: rem(16px);
      height: rem(16px);

      &:not(:last-child) {
        margin-right: 0.05em;
      }
    }

    .number {
      margin-left: 0.25rem;
      font-size: 0.9em;
      line-height: rem(17px);
    }
  }

  &.dark {
    .rating-item {
      fill: rgba(0, 0, 0, 0.3);

      &.active {
        fill: rgba(0, 0, 0, 0.9);
      }
    }
  }
}
