@import 'styles/base-module';

:local .rating {
  display: flex;

  .rating-item {
    width: em(22px);
    height: em(22px);
    fill: rgba(255, 255, 255, 0.3);

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &.active {
      fill: rgba(255, 255, 255, 0.9);
    }
  }

  &.small {
    .rating-item {
      width: em(16px);
      height: em(16px);
      margin: 0.05em;
    }
  }

  &.dark {
    .rating-item {
      fill: rgba(0, 0, 0, 0.3);

      &.active {
        fill: rgba(0, 0, 0, 0.9);
      }
    }
  }
}
