@import 'styles/base-module';

:local .input-container {
  margin-bottom: 0.75rem;

  &.invalid {

    input,
    textarea {
      width: 100%;
      margin-bottom: 0;

      border-color: $color-error;

      &:hover {
        border-color: $color-error;
      }
    }
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 0;
  }

  .error {
    color: $color-error;
    margin-left: 1px;
    font-size: 0.9em;
  }
}
