.applications-handler {

  .application-card-view {
    @include span-columns(12);
    margin-bottom: flex-gutter(12);

    @include media($medium-screen) {
      @include span-columns(6);
      @include omega(2n);
    }
  }

  .no-application {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .no-application-text {
    font-size: 1.2em;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: $color-gray-medium;
  }
}
