.find-nelp-card-view {
  $category-icon-size: 42px;


  @include flex-basis(18rem);
  @include flex-grow(1);
  height: em(300px);
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  background-color: $color-white;
  border: 1px solid $color-gray-medium;
  border-radius: 8px;

  @include media($medium-screen) {
    margin: 2rem;
  }

  .card-hover {
    @include position(absolute, 0);
    background-color: $color-black;
    @include transition(opacity 250ms linear);
    opacity: 0;

    &:hover {
      opacity: 0.2;
    }
  }

  .card-image {
    height: em(125px);
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-gray-light;
    position: relative;

    .image-overlay {
      @include position(absolute, 0);
      background-color: $color-white;
      opacity: 0.4;
    }

    .category {
      @include display(flex);
      @include align-items(center);
      position: absolute;
      bottom: 0.5rem;
      left: 0.8rem;

      .icon {
        @include image(rem($category-icon-size), rem($category-icon-size));
        border-radius: 50%;
        border: 1px solid $color-black;
      }

      .name {
        margin-left: 0.5rem;
        color: $text-dark;
        font-size: 1.1em;
      }
    }
  }

  .applicants-row {
    @include display(flex);
    @include align-items(center);
    margin-bottom: 0.5rem;

    .status-icon {
      @include image(rem(32px), rem(32px));
      border-radius: 50%;
      border: 1px solid $color-black;
    }

    .applicants {
      @include flex(1);
      margin-left: 0.5rem;
      font-size: 0.9em;
    }

    .price {
      @include flex-basis(rem(80px));
      text-align: center;
      padding: 0.3rem 0;
      border-radius: 3px;
      background-color: $color-nelp-green;
      color: $color-white;
      font-size: 1.1em;
    }
  }

  .card-content {

    padding: 0.8rem;
    border-top: 1px solid $color-gray-medium;

    .title {
      font-size: 1.2em;
      @include ellipsis();
    }

    .desc {
      font-size: 0.9em;
    }
  }
}
