#find-nelp-detail-handler {

  $state-icon-size: 32px;

  .task-detail {
    margin-left: 1.5em;

    > div {
      margin-bottom: 0.5em;
    }

    .status {
      @include display(flex);
      @include align-items(center);

      .status-icon {
        width: rem(26px);
        height: rem(26px);
        margin: 0 0.5em;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
      }
    }
  }

  .applications {
    @include display(flex);
    @include flex-direction(column);
    width: 100%;
    padding: 1em;
    color: $color-black;

    .application {
      @include display(flex);
      @include align-items(flex-start);
      @include flex-wrap(wrap);

      margin-bottom: 1em;

      > div, > button {
        margin: 0.5em;
      }

      .user-picture {
        width: 5rem;
        height: 5rem;
        position: relative;
        border-radius: 50%;
        border: 2px solid $color-black;
        background-size: cover;
        background-position: center;
      }

      .state-badge {
        position: absolute;
        bottom: rem(-8px);
        right: rem(-8px);

        @include image(rem($state-icon-size), rem($state-icon-size));
        border-radius: 50%;
        border: 2px solid $color-black;
      }

      .user-info {
        @include flex-grow(1);

        .username-row {
          @include display(flex);
          @include align-items(baseline);
          @include flex-wrap(wrap);
        }

        .username {
          font-size: 1.25em;
          font-weight: 500;
          margin-right: 1rem;
        }

        .tasks-completed {
          font-size: 0.8em;
        }

        .member-since {
          font-size: 0.8em;
        }
      }
    }
  }
}
