.nelp-center-handler {

  $picture-size: 100px;

  .profile-header {
    background-color: $color-blue-gray;
    color: $text-light;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    flex: 1;
    margin-left: 0.5rem;
  }

  .user-name {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
  }

  .my-profile {
    display: flex;
  }

  .my-profile-icon {
    @include image(2.5rem);
    margin-right: 0.5rem;
    background-image: url('~images/icons/profile-white.png');
  }

  .picture {
    height: rem($picture-size);
    width: rem($picture-size);
    border-radius: 50%;

    border: solid 3px $color-white;
    background-size: cover;
    background-position: center;
  }

  .tab-bar {
    background-color: $color-white;
    border-bottom: solid 1px $color-gray-medium;
    color: $color-black;
  }

  .tabs {
    display: flex;
    justify-content: center;
  }

  .tab {
    width: rem(168px);
    margin: 0 1rem;
    padding: 0.5rem 0;

    font-size: 1.1em;
    text-align: center;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    &:hover {
      color: $color-nelp-orange;
    }

    &.active {
      color: $color-nelp-orange;
      border-top: 3px solid transparent;
      border-bottom: 3px solid $color-nelp-orange;
    }
  }
}
