.profile-handler {

  $picture-size: 120px;
  $action-icon-size: 18px;

  .profile-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
    background-color: $color-blue-gray;
    color: $text-light;
    border: 1px solid $color-gray-medium;
    border-radius: 3px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    flex: 1;
  }

  .user-name {
    font-size: 1.5em;
  }

  .rating {
    margin-bottom: 0.5rem;
  }

  .tasks-completed {
    margin-bottom: 0.5rem;
    font-size: 0.9em;
  }

  .member-since {
    font-size: 0.9em;
  }

  .picture-picker {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-right: 2rem;

    input {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 300px;
      padding: 0;
      margin: 0;
      opacity: 0;
      font-size: 1000px;
      cursor: pointer;
    }

    ::-webkit-file-upload-button {
      cursor: pointer;
    }

    &:hover {
      .edit-picture-overlay {
        opacity: 1;
      }
    }
  }

  .picture {
    height: rem($picture-size);
    width: rem($picture-size);
    border-radius: 50%;

    border: solid 3px $color-white;
    background-size: cover;
    background-position: center;
  }

  .edit-picture-overlay {
    @include position(absolute, 3px); // Make up for the border.
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: transparentize($color-black, 0.25);
    transition: opacity 250ms linear;
    opacity: 0;
    border-radius: 50%;
  }

  .edit-picture-icon {
    @include image(2.5rem);
    background-image: url('~images/icons/camera-white.png');
  }

  .edit-picture-text {
    font-size: 0.9em;
  }

  .section-row {
    @include row();
    margin-bottom: 2rem;
  }

  .section-title {
    @include span-columns(12);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.5em;

    @include media($large-screen) {
      @include span-columns(3);
      text-align: right;
    }
  }

  .section-content {
    @include span-columns(12);
    padding-left: 1rem;

    @include media($large-screen) {
      @include span-columns(7);
    }
  }

  .editable {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;

    &:hover {
      background-color: $color-white;

      .editable-action {
        opacity: 1;
      }
    }
  }

  .editable-title {
    flex: 1;
  }

  .editable-action {
    position: relative;
    padding: 0.5rem;
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;

    @include media($medium-screen) {
      opacity: 0;
    }

    &:hover {
      .editable-icon {
        fill: $color-white;
      }

      .editable-icon-bg {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  .editable-icon {
    @include position(absolute, 0.5rem);
    @include transition(fill 300ms ease-in-out);
    width: rem(24px);
    height: rem(24px);
    fill: $color-gray-medium;
  }

  .editable-icon-bg {
    @include position(absolute, 0);
    @include transition(transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55));
    transform: scale(0);
    opacity: 0;
    background-color: $color-nelp-orange;
    border-radius: 50%;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
  }

  .skill {
    @include flex(0 0 100%);

    @include media($medium-screen) {
      @include flex(0 0 50%);
    }
  }

  .edit-box {
    padding: 1rem;
    border-radius: 3px;
    background-color: $color-white;
  }
}
