.find-nelp-detail-handler {

  .detail-container {
    margin-bottom: 1rem;
  }

  .other-info-container {
    @include outer-container();
    margin: 0 2rem;
    margin-bottom: 2rem;
  }

  .other-info-col {
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(8);
    }
  }

  .other-info-split > div {
    @include span-columns(8 of 8);
    display: flex;

    @include media($large-screen) {
      @include span-columns(4 of 8);
      @include omega(2n);
      display: flex;
    }
  }

  .image-col {
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(4);
      @include omega();
    }
  }

  .no-pictures {
    background-color: $color-gray-light;
    height: rem(200px);
  }

  .task-picture {
    @include image-fill();
    height: rem(200px);
  }

  .edit-pictures {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  .detail-icon {
    @include image(2.5rem);
  }

  .detail-text {
    margin-left: 1rem;
  }

  .description {
    white-space: pre-line;
    margin-bottom: 1rem;
  }

  .applicants-count {
    background-image: url('~images/icons/applicants.png');
  }

  .price-offered {
    background-image: url('~images/icons/money.png');
  }

  .calendar {
    background-image: url('~images/icons/calendar.png');
  }

  .location {
    background-image: url('~images/icons/pin.png');
  }

  .pending-icon {
    @include image(2.5rem);
    margin-right: 1rem;
    background-image: url('~images/icons/state-pending.png');
  }

  .denied-icon {
    @include image(2.5rem);
    margin-right: 1rem;
    background-image: url('~images/icons/denied.png');
  }
}
