.find-nelp-detail-handler {

  $state-icon-size: 32px;

  .detail-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .other-info-container {
    margin: 0 4rem;
  }

  .other-info-col {
    @include span-columns(8);
  }

  .image-col {
    @include span-columns(4);
  }

  .detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .detail-icon {
    @include image(2rem);
  }

  .detail-text {
    margin-left: 1rem;
  }

  .applicants-count {
    background-image: url('~images/icons/applicants.png');
  }

  .price-offered {
    background-image: url('~images/icons/money.png');
  }

  .calendar {
    background-image: url('~images/icons/calendar.png');
  }

  .location {
    background-image: url('~images/icons/pin.png');
  }

  .task-picture {
    @include image-fill();
    height: rem(200px);
  }
}
