.tasks-handler {

  .task-card-view {
    @include span-columns(12);
    margin-bottom: flex-gutter(12);

    @include media($medium-screen) {
      @include span-columns(6);
      @include omega(2n);
    }
  }

  .no-task {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .no-task-text {
    font-size: 1.2em;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
