.task-card-view {
  $category-icon-size: 64px;
  $is-new-icon-size: 1.5rem;
  $status-icon-size: 2.5rem;
  $calendar-icon-size: 2.5rem;

  .header {
    overflow: hidden;

    .image-overlay {
      @include position(absolute, 0);
      @include image-fill();
      @include filter(blur(16px));
    }
  }

  .content {
    @include display(flex);
    @include flex-direction(column);
  }

  .is-new {
    position: absolute;
    top: -$is-new-icon-size * 1.75;
    left: -$is-new-icon-size * 1.75;
    width: $is-new-icon-size * 3.5;
    height: $is-new-icon-size * 3.5;
    background-color: $color-white;
    @include transform(rotate(45deg));

    .is-new-icon {
      @include image($is-new-icon-size, $is-new-icon-size);
      @include transform(rotate(-45deg));
      position: absolute;
      bottom: $is-new-icon-size * 1.25;
      right: $is-new-icon-size / 4;
      background-image: url('~images/icons/state-new.png');
      border-radius: 50%;
    }
  }

  .category {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include position(absolute, 0);

    .icon {
      @include image(rem($category-icon-size), rem($category-icon-size));
      border-radius: 50%;
    }
  }

  .title {
    font-size: 1.2em;
    @include ellipsis();
  }

  .applicants-row {
    @include display(flex);
    @include align-items(center);
    @include flex(1);
    margin-bottom: 0.5rem;
    padding: 0 1rem;

    .status-icon {
      @include image($status-icon-size, $status-icon-size);
    }

    .applicants {
      @include flex(1);
      margin-left: 0.5rem;
      font-size: 1em;
    }

    .price {
      @include flex-basis(rem(80px));
      text-align: center;
      padding: 0.3rem 0;
      border-radius: 3px;
      background-color: $color-nelp-green;
      color: $color-white;
      font-size: 1.1em;
    }
  }

  .calendar-row {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
    padding: 0 1rem;
    font-size: 0.75em;
    text-align: center;

    .calendar-icon {
      @include image($calendar-icon-size, $calendar-icon-size);
      background-image: url('~images/icons/calendar.png');
      margin: 0 0.5rem;
    }
  }
}
