.task-card-view {
  $category-icon-size: 64px;
  $is-new-icon-size: 1.5rem;
  $status-icon-size: 2.5rem;
  $calendar-icon-size: 2.5rem;

  .image-overlay {
    @include position(absolute, -2rem);
    @include image-fill();
    filter: blur(16px);
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .is-new {
    position: absolute;
    top: -$is-new-icon-size * 1.75;
    left: -$is-new-icon-size * 1.75;
    width: $is-new-icon-size * 3.5;
    height: $is-new-icon-size * 3.5;
    background-color: $color-background-light;
    transform: rotate(45deg);
  }

  .is-new-icon {
    @include image($is-new-icon-size, $is-new-icon-size);
    transform: rotate(-45deg);
    position: absolute;
    bottom: $is-new-icon-size * 1.25;
    right: $is-new-icon-size / 4;
    background-image: url('~images/icons/state-new.png');
    border-radius: 50%;
  }

  .category {
    @include position(absolute, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .category-icon {
    @include image(rem($category-icon-size), rem($category-icon-size));
    border-radius: 50%;
  }

  .title {
    @include ellipsis();
    margin-bottom: 1rem;
    font-size: 1.2em;
    font-weight: bold;
  }

  .applicants-row {
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 2rem;
    padding: 0 1rem;
  }

  .status-icon {
    @include image($status-icon-size, $status-icon-size);
  }

  .applicants {
    flex: 1;
    margin-left: 1rem;
    font-size: 1em;
  }

  .price {
    flex-basis: rem(80px);
    text-align: center;
    background-image: url('~images/icons/money.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 76px;
    padding-top: 8px;
    height: 41px;
    padding-left: 6px;
    font-size: 1.2em;
    color: $color-background-light;
  }

  .calendar-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    font-size: 0.8em;
    text-align: center;
  }

  .calendar-icon {
    @include image($calendar-icon-size, $calendar-icon-size);
    flex-shrink: 0;
    background-image: url('~images/icons/calendar.png');
    margin: 0 2rem;
  }
}
