@import 'styles/base-module';

:local .module {

  .detail-container {
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  .other-info-container {
    @include outer-container();
  }

  .other-info-col {
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(8);
    }
  }

  .other-info-split {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3.5rem;
  }

  .other-info-split > div {
    display: flex;
    flex-basis: flex-grid(12);

    @include media($large-screen) {
      @include omega(2n);
      flex-basis: flex-grid(6);
      margin-right: flex-gutter(12);
    }
  }

  .image-col {
    @include span-columns(12);
    margin-top: 1rem;

    @include media($medium-screen) {
      @include span-columns(4);
      @include omega();
    }
  }

  .no-pictures {
    background-color: $color-gray-light;
    height: rem(200px);
  }

  .task-picture {
    @include image-fill();
    height: rem(200px);
  }

  .edit-pictures {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
  }

  .detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  .title-row {
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 1.3em;
    margin: 0;
  }

  .category-icon {
    @include image(2.5rem);
    border-radius: 50%;
    flex-shrink: 0;
  }

  %detail-icon {
    @include image(2.5rem);
  }

  .detail-text {
    margin-left: 1rem;
  }

  .description {
    white-space: pre-line;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
    text-align: justify;
  }

  .applicants-count {
    @extend %detail-icon;
    background-image: url('images/icons/applicants.png');
  }

  .price-offered {
    @extend %detail-icon;
    background-image: url('images/icons/money.png');
  }

  .agreed-price {
    margin-right: 1rem;
    font-weight: bold;
    color: $color-gray-medium;
  }

  .calendar {
    @extend %detail-icon;
    background-image: url('images/icons/calendar.png');
  }

  .location {
    @extend %detail-icon;
    background-image: url('images/icons/pin.png');
  }

  .location-address {
    font-size: 0.9em;
    margin-left: 0.75rem;
    padding-left: 1rem;
    border-left: $base-border-strong;
  }

  .pending-icon {
    @include image(2.5rem);
    margin-right: 1rem;
    background-image: url('images/icons/state-pending.png');
  }

  .denied-icon {
    @include image(2.5rem);
    margin-right: 1rem;
    background-image: url('images/icons/denied.png');
  }

  .delete-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}
