.nelp-task-list-view {

  $color-price-green: #7fae79;
  $category-image-size: 64px;
  $collapse-image-size: 26px;

  width: 100%;

  .task {
    width: 100%;

    .header {
      @include display(flex);

      .content {
        @include display(flex);
        @include align-items(flex-start);
        @include flex-wrap(wrap);
        @include flex(1);

        > div {
          margin: 0.5em 1em;
        }
      }

      .category-icon {
        width: em($category-image-size);
        height: em($category-image-size);
        background-position: center;
        background-size: contain;
      }

      .title-col {
        @include flex-grow(1);

        .title {
          font-size: 1.2em;
        }

        .date {
          font-size: 0.7em;

          @include media($medium-screen) {
            margin-left: 1rem;
          }
        }
      }

      .price {
        padding: 0.3em 1em;
        border-radius: 3px;
        background-color: $color-price-green;
        color: $color-white;
        font-size: 1.1em;
      }

      .location-col {
        .city {

        }

        .distance {
          font-size: 0.7em;
        }
      }

      .collapse-icon {
        @include align-self(center);
        width: $collapse-image-size;
        height: $collapse-image-size;
        margin: 0 1em;

        background-image: url('~images/icons/expand.png');
        background-size: contain;
        background-position: center;

        @include transition(transform 250ms ease-in-out);
        @include transform(rotate(180deg));

        &.collapsed {
          @include transform(rotate(0deg));
        }
      }
    }

    .detail {
      overflow: hidden;

      &.collapsed {
        height: 0;
      }
    }
  }
}
