#nelp-handler {

  height: 100%;
  //overflow: hidden;
  @include display(flex);
  @include flex-direction(column);

  .header-section {
    @include flex(1);
    position: relative;
    min-height: rem(350px);

    .map {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-left: solid 2px $color-gray-medium;
      border-right: solid 2px $color-gray-medium;
    }
  }

  .task-section {
    @include flex(1.3);
    //overflow: auto;
  }

  .filters {
    background-color: $color-blue-gray;
    color: $color-white;
    padding: 0.5rem 0;
  }
}
