.nelp-task-list-view {

  $color-price-green: #7fae79;
  $user-image-size: 86px;
  $category-image-size: 38px;
  $collapse-image-size: 26px;
  $list-items-padding: 1rem;

  width: 100%;

  .task {
    width: 100%;
    border-bottom: 1px solid $color-gray-light;
    padding: $list-items-padding;

    .header {
      @include display(flex);
      cursor: pointer;

      .content {
        @include display(flex);
        @include align-items(center);
        @include flex-wrap(wrap);
        @include flex(1);

        > div {
          margin: 0.5rem 1rem;
        }
      }

      .user-picture {
        width: rem($user-image-size);
        height: rem($user-image-size);
        position: relative;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        border: 2px solid $color-black;

        .category-icon {
          width: rem($category-image-size);
          height: rem($category-image-size);
          position: absolute;
          bottom: rem(-5px);
          right: rem(-5px);

          border-radius: 50%;
          border: 2px solid $color-black;
          background-position: center;
          background-size: contain;
        }
      }

      .title-col {
        @include flex-grow(1);

        .title {
          font-weight: bold;
          font-size: 1.2em;
        }

        .user-name {
          font-size: 0.9em;

          @include media($medium-screen) {
            margin-left: 2rem;
          }
        }

        .date {
          font-size: 0.7em;
          @include media($medium-screen) {
            margin-left: 2rem;
          }
        }
      }

      .price {
        padding: 0.3rem 1rem;
        border-radius: 3px;
        background-color: $color-price-green;
        color: $text-light;
        font-size: 1.1em;
      }

      .location-col {
        .city {

        }

        .distance {
          font-size: 0.7em;
        }
      }
    }

    .detail {
      @include display(flex);
      @include flex-direction(column);
      overflow: hidden;
      @include transition(max-height 300ms ease-in-out);
      max-height: 500px;
      margin-left: 1rem;
      margin-right: rem(58px);

      @include media($medium-screen) {
        @include flex-direction(row);
        margin-left: rem(132px);
      }

      .desc-col {
        @include flex(1);
        margin-right: 1rem;
        margin-bottom: 1rem;

        .user-row {
          @include display(flex);
          @include align-items(center);
          margin-bottom: 0.5rem;
        }

        .desc {
          font-family: $content-font-family;
          margin-bottom: 1rem;

          @include media($medium-screen) {
            margin-left: 2rem;
          }
        }

        .controls {
          @include media($medium-screen) {
            margin-left: 2rem;
          }
        }
      }

      .task-image {
        width: rem(200px);
        height: rem(125px);
        margin-bottom: 1rem;
        @include image-fill;
        background-color: $color-gray-light;
        border: 2px solid $color-gray-medium;
        border-radius: 3px;
      }
    }

    .collapse-icon {
      @include align-self(center);
      width: rem($collapse-image-size);
      height: rem($collapse-image-size);
      margin: 0 1rem;

      background-image: url('~images/icons/expand.png');
      background-size: contain;
      background-position: center;

      @include transition(transform 250ms ease-in-out);
      @include transform(rotate(180deg));
    }

    &.collapsed {

      .detail {
        max-height: 0;
      }

      .collapse-icon {
        @include transform(rotate(0deg));
      }
    }
  }
}
