#nelp-handler {

  height: 100%;
  //overflow: hidden;
  @include display(flex);
  @include flex-direction(column);

  .header-section {
    @include flex(1);
    position: relative;
    min-height: rem(350px);
    background-color: $color-blue-gray;

    .map {
      position: absolute;
      top: 0.5rem;
      bottom: 0.5rem;
      left: 0;
      right: 0;
    }
  }

  .task-section {
    @include flex(1.3);
    //overflow: auto;
  }

  .filters {
    background-color: $color-white;
    border-bottom: 1px solid $color-gray-medium;
    color: $color-black;
    padding: 0.5rem 0;
  }
}
