@mixin btn-color($color) {
  background-color: $color;

  &:hover {
    background-color: lighten($color, 5%);
  }
}

@mixin bordered-button-color($color) {
  border: 1px solid $color;
  color: $color;
  fill: $color;

  &:hover {
    background-color: $color;
    color: $color-background-light;
    fill: $color-background-light;
  }
}

@mixin bordered-button-inverse-color($color) {
  border: 1px solid $color-background-light;
  color: $color-background-light;
  fill: $color-background-light;

  &:hover {
    background-color: $color-background-light;
    color: $color;
    fill: $color;
  }
}

#{$all-button-inputs},
button,
.button {
  @include btn-color($color-gray-light);
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  border-radius: 0;
  border: 0;
  color: $color-background-light;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  transition: background-color 250ms linear, color 250ms linear;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.primary {
    @include btn-color($color-primary);
  }

  &.secondary {
    @include btn-color($color-secondary);
  }

  &.warning {
    @include btn-color($color-primary);
  }

  &.link-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: $color-primary;
    fill: $color-primary;
    transition: all 250ms ease-out;
    font-size: 1.1em;
    font-weight: normal;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      background-color: transparent;
    }

    > i,
    > .icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-top: -1rem;
      margin-bottom: -1rem;
      margin-right: 1rem;
    }
  }

  &.border-btn {
    @include bordered-button-color($color-gray-medium);
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: transparent;
    transition: all 250ms ease-out;
    font-weight: normal;

    &.primary {
      @include bordered-button-color($color-primary);
    }

    &.secondary {
      @include bordered-button-color($color-secondary);
    }

    &.inverse {
      @include bordered-button-inverse-color($color-primary);
    }

    &.disabled {
      @include bordered-button-color($color-gray-medium);
    }

    > i,
    > .icon {
      width: 2rem;
      height: 2rem;
      margin-top: -1rem;
      margin-bottom: -1rem;
      margin-left: 1rem;
    }
  }

  &.back {
    color: $color-background-light;
    background-color: transparent;
    background-image: url('~images/icons/left-arrow-white.png');
    background-size: 0.75rem;
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    padding-left: 2rem;
    border: 0;
    font-weight: normal;
    transition: opacity 250ms linear;
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }
  }

  &.toggle {
    padding: 0.5rem 1rem;
    color: $color-primary;
    background-color: transparent;
    border: 1px solid $color-primary;
    border-radius: 0;
    font-weight: normal;

    &:hover {
      color: $color-background-light;
      background-color: $color-primary;
    }

    &.on {
      color: $color-background-light;
      background-color: $color-primary;
    }
  }

  &.white-button {
    background-color: $color-background-light;
    color: $color-gray-medium;
    border: $base-border;
    font-weight: normal;

    &:hover {
      background-color: $color-gray-light;
      color: $color-background-light;
    }
  }
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -0.5rem;

  button,
  .button {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.toggle-group {
  button:not(:last-child),
  .button:not(:last-child) {
    border-right: 0;
  }
}
