@mixin btn-color($color) {
  background-color: $color;

  &:hover {
    background-color: lighten($color, 5%);
  }
}

#{$all-button-inputs},
button,
.button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  border-radius: 0;
  border: 0;
  color: $color-background-light;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  transition: background-color 250ms linear, color 250ms linear;

  @include btn-color($color-gray-light);

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.primary {
    @include btn-color($color-primary);
  }

  &.secondary {
    @include btn-color($color-secondary);
  }

  &.warning {
    @include btn-color($color-primary);
  }

  &.dark-big {
    @include btn-color($color-primary);

    background-color: $color-primary;
    border: 2px solid $color-background;
    border-radius: 8px;
    padding: 1rem 4rem;
    font-size: 1.5em;
    @include transition(background-color 250ms linear, color 250ms linear);

    &:hover {
      background-color: $color-background;
      color: $color-primary;
    }
  }

  &.dark-small {
    @include btn-color($color-primary);

    background-color: $color-primary;
    border: 2px solid $color-background;
    border-radius: 3px;
    padding: 0.25rem 1.5rem;
    font-size: 1em;
    font-weight: normal;
    transition: background-color 250ms linear, color 250ms linear;

    &:hover {
      background-color: $color-background;
      color: $color-primary;
    }
  }

  &.link-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: $color-primary;
    fill: $color-primary;
    transition: all 250ms ease-out;
    font-size: 1.1em;
    font-weight: normal;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      background-color: transparent;
    }

    i {
      width: 1.75rem;
      height: 1.75rem;
      margin-top: -1rem;
      margin-bottom: -1rem;
      margin-right: 1rem;
    }
  }

  &.border-btn {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
    fill: $color-primary;
    transition: all 250ms ease-out;
    font-weight: normal;

    &:hover {
      background-color: $color-primary;
      color: $color-background-light;
      fill: $color-background-light;
    }

    &.inverse {
      border-color: $color-background-light;
      color: $color-background-light;
      fill: $color-background-light;

      &:hover {
        background-color: $color-background-light;
        color: $color-primary;
        fill: $color-primary;
      }
    }

    &.disabled {
      border: 1px solid $color-gray-medium;
      color: $color-gray-medium;
      fill: $color-gray-medium;

      &:hover {
        background-color: $color-gray-medium;
        color: $color-background-light;
        fill: $color-background-light;
        border: 1px solid $color-gray-medium;
      }
    }

    i {
      width: 2rem;
      height: 2rem;
      margin-top: -1rem;
      margin-bottom: -1rem;
      margin-left: 1rem;
    }
  }

  &.back {
    color: $color-primary;
    background-color: transparent;
    background-image: url('~images/icons/left-arrow-orange.png');
    background-size: 0.75rem;
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    padding-left: 2rem;
    border: 0;
    font-weight: normal;

    &:hover {
      background-color: $color-background-light;
    }
  }

  &.toggle {
    padding: 0.5rem 1rem;
    color: $color-primary;
    background-color: transparent;
    border: 1px solid $color-primary;
    border-radius: 0;
    font-weight: normal;

    &:hover {
      color: $color-background-light;
      background-color: $color-primary;
    }

    &.on {
      color: $color-background-light;
      background-color: $color-primary;
    }
  }

  &.white-button {
    background-color: $color-background-light;
    color: $color-gray-medium;
    border: $base-border;
    font-weight: normal;

    &:hover {
      background-color: $color-gray-light;
      color: $color-background-light;
    }
  }
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -0.5rem;

  button,
  .button {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.toggle-group {
  button:not(:last-child),
  .button:not(:last-child) {
    border-right: 0;
  }
}
