// Typography
$base-font-family: 'ABeeZee';
$heading-font-family: 'ABeeZee';
$content-font-family: 'PT Sans';

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

$color-primary: #ed4b4e;
$color-secondary: #5a6a7b;
$color-money: #80bf62;

$color-gray-medium: #979797;
$color-gray-light: #bbb;

$color-background: #eaeaea;
$color-background-light: #f7f7f7;

$color-black: #2c2c2c;

// Font Colors
$base-background-color: $color-background;
$base-font-color: $color-black;
$action-color: $color-primary;

$text-light: $color-background;
$text-medium: #757575;
$text-dark: $color-black;

// Border
$base-border-color: $color-gray-light;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: none;

$navbar-height: 60px;
