// Typography
$base-font-family: Railway;
$heading-font-family: Railway;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$color-nelp-green: #00a651;
$color-nelp-blue: #3B7996;
$color-nelp-orange-light: #d98b30;
$color-nelp-orange: #db412a;

$color-nelp-red-1: #d95330;
$color-nelp-red-2: #de1f1f;

$color-gray-darker: #212121;
$color-gray-dark: #424242;
$color-gray-medium: #9E9E9E;
$color-gray-light: #E0E0E0;
$color-gray-lighter: #F5F5F5;

$color-white: #eaeaea;
$color-white-light: #FFF8EB;
$color-black: #2c2c2c;

// Font Colors
$base-background-color: $color-white;
$base-font-color: $color-black;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: none;

$navbar-height: 60px;
