// Typography
$base-font-family: 'ABeeZee';
$heading-font-family: 'ABeeZee';
$content-font-family: 'PT Sans';

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

$color-nelp-green: #80bf62;
$color-nelp-blue: #858ba0;
$color-nelp-orange-light: #d98b30;
$color-nelp-orange: #F32A18;
$color-blue-gray: #545866;
$color-red: #E84C49;

$color-nelp-red-1: #d95330;
$color-nelp-red-2: #de1f1f;

$color-gray-darker: #212121;
$color-gray-dark: #676767;
$color-gray-medium: #9E9E9E;
$color-gray-light: #eaeaea;

$color-white: #f7f7f7;
$color-white-light: #FFF8EB;
$color-black: #2c2c2c;

// Font Colors
$base-background-color: $color-gray-light;
$base-font-color: $color-black;
$action-color: $color-blue-gray;

$text-light: $color-gray-light;
$text-medium: #757575;
$text-dark: $color-black;

// Border
$base-border-color: $color-gray-medium;
$base-border: 2px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: none;

$navbar-height: 60px;
